<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include("../partials/admin-header") %>
</head>
<body>
    <div class="screen-overlay"></div>
    <!-- aside -->
    <%- include("./layout/sidebar.ejs") %>
    <main class="main-wrap">
    <%- include("./layout/admin-header.ejs") %>
    <%- include("./components/products/add-new-products.ejs") %>
    <%- include("./layout/footer.ejs") %>
</main>

<%- include("./components/script/script.ejs") %>
<!-- ajax/axios -->
<script src="/admins/assets/js/vendors/ajax/productAdd.js"></script>
</body>

</html>