<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include("../partials/admin-header") %>
</head>
<body>
    <div class="screen-overlay"></div>
    <!-- aside -->
    <%- include("./layout/sidebar.ejs") %>
    <main class="main-wrap">
    <%- include("./layout/admin-header.ejs") %>
    <%- include("./components/products/update-product.ejs") %>
    <%#- include("./layout/admin-footer.ejs") %>
</main>
<%- include("./components/script/script.ejs") %>
</body>

</html>