<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include("../partials/user-header.ejs") %>
    <%#- include("./components/preloading.ejs") %>
</head>

<body>
    <%- include("./layouts/navbar.ejs") %>
        <main class="main">
            
            <%- include("./components/home/banner-1.ejs") %>
            <%- include("./components/home/horizontalcards.ejs") %>
            <%- include("./components/home/products.ejs") %>
            <!-- <%#- include("./components/home/banner-2.ejs") %> -->
            <%- include("./components/home/monthlybest.ejs") %>
            <%- include("./components/home/newArrivals.ejs") %>
            <%- include("./components/preloading.ejs") %>

            


           
        </main>
        <%- include("./layouts/footer.ejs")%>
        <%- include("./script/script.ejs") %>
</body>


</html>

